@model IEnumerable<auction.Models.Auction>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Product_Auction.PA_ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Auction_Strat)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Auction_End)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Auction_Winner)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.winning_amount)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Product_Auction.PA_ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Auction_Strat)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Auction_End)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Auction_Winner)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.winning_amount)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Auction_ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.Auction_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Auction_ID })
        </td>
    </tr>
}

</table>
