@using Microsoft.AspNet.Identity
@model IEnumerable<auction.Models.Bid>
   

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Auction.Auction_Winner)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User.username)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Auction.Auction_Winner)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User.username)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Bid_ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.Bid_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Bid_ID })
        </td>
    </tr>
}

</table>
