
@{ 
    Layout = null;


}

@model IEnumerable<auction.Models.Product>
<div id="prolist">
    <div class="row">




        @foreach (var item in Model)
            {
    <div class="col-sm-6 col-md-3">
        <div class="thumbnail">
            <div class="cuadro_intro_hover " style="background-color:#cccccc;">
                <p style="text-align:center; ">


                    @if (item.Name != null && item.Path != null)
                        {  <img src="@Url.Content(item.Path)" class="img-responsive" alt="" /> }


                        @*<img src="~/Images/laptop.jpg" class="img-responsive" alt="">*@
                    </p>
                    <div class="caption">
                        <div class="blur"></div>
                        <div class="caption-text">
                            <h3 style="border-top:2px solid white; border-bottom:2px solid white; padding:10px;">@Html.DisplayFor(modelItem => item.Title)</h3>
                            <p>@Html.DisplayFor(modelItem => item.Discription).ToString()</p>
                            <a class=" btn btn-default" href="#"><span class="glyphicon glyphicon-picture"> INFO</span></a>
                        </div>
                    </div>
                </div>
                @*<img src="~/Images/laptop.jpg" alt="Image " style="height:151px; width: 192px;">*@
                <div class="caption">
                    <h3>@Html.DisplayFor(modelItem => item.Title)</h3>
                    <p>
                        @if (Html.DisplayFor(modelItem => item.Discription).ToString().Length > 150)
                        {
                        @Html.DisplayFor(modelItem => item.Discription).ToString().Substring(0, 150);
                        }
                        else
                        {
                        @Html.DisplayFor(modelItem => item.Discription).ToString();@*.Substring(0, 120)....*@

                        }


                    </p>

                    <p>@Html.DisplayFor(modelItem => item.status)</p>
                    <p>
                        Price:
                        <label class="pull-right">@Html.DisplayFor(modelItem => item.Price)</label>
                    </p>
                    <p>
                        <a class="btn btn-primary" role="button">Details</a>
                        @Html.ActionLink("Details", "Details", new { id = item.ID })

                </div>
            </div>
        </div>
    }
    </div>
</div>

